{% extends 'base.html.twig' %}

{% block title %}Nouveau Créneau{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1><i class="bi bi-plus-circle"></i> Nouveau Créneau</h1>
        <a href="{{ path('app_admin_schedules') }}" class="btn btn-secondary">
            <i class="bi bi-arrow-left"></i> Retour
        </a>
    </div>

    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-6 mb-3">
                        {{ form_row(form.classe) }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form_row(form.course) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        {{ form_row(form.teacher) }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form_row(form.dayOfWeek) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 mb-3">
                        {{ form_row(form.startTime) }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ form_row(form.endTime) }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ form_row(form.room) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        {{ form_row(form.startDate) }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form_row(form.endDate) }}
                    </div>
                </div>

                <div class="d-flex justify-content-between">
                    <a href="{{ path('app_admin_schedules') }}" class="btn btn-secondary">
                        <i class="bi bi-x-circle"></i> Annuler
                    </a>
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-check-circle"></i> Créer
                    </button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
